p {
    margin: 0.25rem 0 0.25rem 0;
    /*text-align: justify;*/
}

.entry {
    margin: 1rem 0 1rem 0;
}

.logo {
    width: 24px;
}

.icon {
    width: 117px;
}

.experiences {
    color: #66D9EE;
}

.skills {
    color: #FE9720;
}

.education {
    color: #FA2772;
}

.interests {
    color: #3CB043;
}

.contact {
    color: #9358FE;
    height: 300px;
}

.text-dark {
    color: #333333 !important; 
}