p {
  margin: 0.25rem 0 0.25rem 0;
  /*text-align: justify;*/
}

.entry {
  margin: 1rem 0 1rem 0;
}

.logo {
  width: 24px;
}

.icon {
  width: 117px;
}

.experiences {
  color: #66d9ee;
}

.skills {
  color: #fe9720;
}

.education {
  color: #fa2772;
}

.interests {
  color: #3cb043;
}

.contact {
  color: #9358fe;
  height: 300px;
}

.text-dark {
  color: #333333 !important;
}

.container {
  display: grid;
  grid-gap: 0px 40px;
  grid-template-columns: 300px auto;
}

.item-1 {
  grid-column: 2;
  grid-row: 1 / 3;
}

.item-2 {
  grid-column: 2;
  grid-row: 3;
}

.item-3 {
  grid-column: 1;
  grid-row: 2 / 6;
}

.item-4 {
  grid-column: 2;
  grid-row: 4;
}

.item-5 {
  grid-column: 1;
  grid-row: 1;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
}
